/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #f0f4f8, #dbe7f5);
    height: 100vh;
}

.account-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.account-container {
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 400px;
    position: relative;
}

/* Position the buttons side by side */
.button-container {
    display: flex;
    justify-content: space-between; /* Distribute space between buttons */
    width: 100%; /* Ensure the buttons take up full width of the container */
    margin-top: 10px; /* Space between form and buttons */
}

/* Back to Home Button */
.back-button {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
}

.back-button:hover {
    background-color: #218838;
}

/* Register Button */
.register-button {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.register-button:hover {
    background-color: #218838;
}

/* Logo */
.logo {
    width: 100px;
    margin-bottom: 20px;
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Submit Button */
.submit-button {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #0056b3;
}

/* Back to Login Button */
.back-to-login-button {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px;
}

.back-to-login-button:hover {
    background-color: #218838;
}

/* Register Form Container */
#registerFormContainer {
    display: none;
    background: rgb(202, 218, 233);
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    margin-right: auto;
}

#registerForm .form-group {
    margin-bottom: 15px;
}

/* Register Form Fields */
#registerForm input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(243, 244, 248);
}
